<section class="" id="content ">
   <div class="container content mb-5 ">
      <div class="row mb-4">
         <div id="namaSurah" class="col-md-6 text-white mx-auto">
            <h4 class="mb-3">Daftar Surah</h4>
         </div>
         <div class="col-md-6">
            <div class="input-group ">
               <input id="searchBox" type="text" name="search" class="form-control" placeholder="Search here.."
                  aria-describedby="search">
               <button class="btn btn-dark" type="" name="blogsearch" id="save">Search</button>
            </div>
         </div>
      </div>

      <div class="mb-3">
         <div id="surahContainer" class="row g-2 ">
            <!-- <div id="loading" style="display: none; text-align: center; padding: 20px;">
            <img src="loading.gif" alt="Loading...">
         </div> -->
            <div id="loading" class="loading-text text-white">
               <h2> Loading ...</h2>
            </div>

         </div>
      </div>
</section>