<header>
   <div class="container">
      <nav class="navbar navbar-expand-lg rounded navbar-light bg-light mb-5">
         <div class="container-fluid ">
            <h3>
               <a class="navbar-brand" href="/quran/"><img src="./images/logoquran.png" width="50" height="50"
                     class="d-inline-block align-top" alt="">
                  Quran Kareem</a>
            </h3>


            <div class="collapse navbar-collapse" id="navbarSupportedContent">
               <ul class="navbar-nav ms-auto align-items-center">
                  <li class="nav-item ">
                     <a class=" nav-link mx-2 text-forrest-dark" href="#!">Hadist</a>
                  </li>
                  <li class="nav-item ">
                     <a class=" nav-link mx-2 text-forrest-dark" href="credit.php">Credit</a>
                  </li>
               </ul>
            </div>

            <div id="theme-toggle " class="mx-2">
               <a id="theme-toggle-btn">
                  <img id="theme-icon" src="./images/dark_mode.png" width="60" height="30"
                     class="d-inline-block align-top mx-2" alt="Toggle Theme">
               </a>
            </div>
            <div class=" mx-2 ">
               <i class="bi bi-sliders" style="font-size: 1.5rem; color:rgb(16, 34, 69);"></i>
            </div>
         </div>
      </nav>
   </div>
</header>